<script>
    $(document).ready(function() {
        console.log("function ready");
        var wishlist_len = parseInt($('#wishlist_id').text());

        $(".addWishlist").click(function() {
            console.log("function called");
            var _prodId = $(this).attr('data-id');
            var _url = '{% url "add_wishlist" %}';

            $.ajax({
                url:_url,
                data:{
                    prod_id:_prodId
                },
                dataType:'json',
                success:function(res){
                    if((res.data) == 1 ){
                        alertify.set('notifier','position', 'top-right');
                        alertify.success('Item added to your wishlist.');
                        wishlist_len++;
                        $('#wishlist_id').text(wishlist_len);
                    } else {
                        alertify.set('notifier','position', 'top-right');
                        alertify.warning('Item already in your wishlist..!');
                    }
                }
            })
        });
    });
</script>