<script>
    $(document).ready(function() {
        console.log("function ready");
        var wishlist_len = parseInt($('#wishlist_id').text());

        $(".addWishlist").click(function() {
            console.log("function called");
            var _prodId = $(this).attr('data-id');
            var _url = '{% url "add_wishlist" %}';

            $.ajax({
                url:_url,
                data:{
                    prod_id:_prodId
                },
                dataType:'json',
                success:function(res){
                    if((res.data) == 1 ){
                        alertify.set('notifier','position', 'top-right');
                        alertify.success('Item added to your wishlist.');
                        wishlist_len++;
                        $('#wishlist_id').text(wishlist_len);
                    } else {
                        alertify.set('notifier','position', 'top-right');
                        alertify.warning('Item already in your wishlist..!');
                    }
                }
            })
        });

        $('.add-to-cart').click(function() {
            console.log("function called for add to cart");
            var _prodId = $(this).attr('data-prod-id');
            var _qty = $('#inputQty').val() || 1;
            var _url = '{% url "products:add_to_cart" %}';

            $.ajax({
                url: _url,
                data: {
                    prod_id: _prodId,
                    quantity: _qty,
                },
                success: function(data) {
                    console.log(data);
                    var productId = data.prod_id;
                    var quantity = data.qty;
                    var price = data.price;
                    var cart_length = data.cart_length;

                    $('#product_' + productId).text(quantity);
                    $('.cart-count').text(cart_length);
                    $('#product_total_' + productId).text(price + '\u00A0\u20B9');
                    $('#sb-total').text(parseFloat(data.sub_total).toFixed(2));
                    $('#sp-charge').text('+ ' + parseFloat(data.shipping_charge).toFixed(2));
                    $('#tax').text('+ ' + parseFloat(data.tax).toFixed(2));
                    $('#discount').text('- ' + parseFloat(data.discount).toFixed(2));
                    $('#grand-total').text(parseFloat(data.grand_total).toFixed(2) + '\u00A0\u20B9');

                    alertify.set('notifier','position', 'top-right');
                    alertify.success('Item added to your cart.');
                },
                error: function(error) {
                    console.error(error);

                    alertify.set('notifier','position', 'top-right');
                    alertify.error('Some error occurred.. Try again later..');
                }
            });
        });

        $('.minus-from-cart').click(function() {
            console.log("function called for minus from cart");
            var _prodId = $(this).attr('data-prod-id');
            var _url = '{% url "products:minus_from_cart" %}';
            var productElement = $('#product_' + _prodId);
            var quantity = productElement.text();

            // If quantity is 1, prompt the user for confirmation
            if (quantity == 1) {
                var confirmed = confirm("Do you want to remove this product from the cart?");
                if (!confirmed) {
                    return; // Exit the function if user cancels
                }
            }

            if (quantity > 1 || confirmed) {
                $.ajax({
                    url: _url,
                    data: {
                        prod_id: _prodId,
                    },
                    success: function(data) {
                        console.log(data);
                        var productId = data.prod_id;
                        var quantity = data.qty;
                        var price = data.price;
                        var productTotal = $('#product_total_' + productId);
                        productTotal.text(price + '\u00A0\u20B9');
                        var cart_length = data.cart_length;
                        $('.cart-count').text(cart_length);
                        $('#product_' + productId).text(quantity);
                        $('#product_total_' + productId).text(price + '\u00A0\u20B9');

                        $('#sb-total').text(parseFloat(data.sub_total).toFixed(2));
                        $('#sp-charge').text('+ ' + parseFloat(data.shipping_charge).toFixed(2));
                        $('#tax').text('+ ' + parseFloat(data.tax).toFixed(2));
                        $('#discount').text('- ' + parseFloat(data.discount).toFixed(2));
                        $('#grand-total').text(parseFloat(data.grand_total).toFixed(2) + '\u00A0\u20B9');

                        if (quantity == 0) {
                            // Remove the product row from the DOM
                            var productElement = $('#product_row_' + productId).remove();
                            // Update the numbering of remaining rows
                            $('.product-row').each(function(index) {
                                $(this).find('.row-number').text(index + 1);
                            });
                            alertify.set('notifier','position', 'top-right');
                            alertify.success('Item removed from your cart.');
                        } else {
                            alertify.set('notifier','position', 'top-right');
                            alertify.success('Item quantity reduced.');
                        }
                    },
                    error: function(error) {
                        console.error(error);
                        alertify.set('notifier','position', 'top-right');
                        alertify.error('Some error occurred.. Try again later..');
                    }
                });
            };
        });

        $('.delete-from-cart').click(function() {
            console.log("function called for delete from cart");
            var _prodId = $(this).attr('data-prod-id');
            var _url = '{% url "products:remove_from_cart" %}';

            $.ajax({
                url: _url,
                data: {
                    prod_id: _prodId,
                },
                success: function(data) {
                    var cart_length = data.cart_length;
                    var productElement = $('#product_row_' + data.prod_id).remove();
                    $('.product-row').each(function(index) {
                        $(this).find('.row-number').text(index + 1);
                    });

                    $('.cart-count').text(cart_length);
                    $('#sb-total').text(parseFloat(data.sub_total).toFixed(2));
                    $('#sp-charge').text('+ ' + parseFloat(data.shipping_charge).toFixed(2));
                    $('#tax').text('+ ' + parseFloat(data.tax).toFixed(2));
                    $('#discount').text('- ' + parseFloat(data.discount).toFixed(2));
                    $('#grand-total').text(parseFloat(data.grand_total).toFixed(2) + '\u00A0\u20B9');
                    alertify.set('notifier','position', 'top-right');
                    alertify.success('Item deleted from your cart...');
                },
                error: function(error) {
                    console.error(error);
                    alertify.set('notifier','position', 'top-right');
                    alertify.error('Some error occurred.. Try again later..');
                }
            });

            if ($('.product-row').length === 1) {
                $('#product-div').hide();
                $('#no-product').show();
            }
        });

        $("#checkout").on('click',function(e){

            if( !$('.address').is(':checked') ) {
                e.preventDefault();
                alert("Please select an address for checkout this order.!");
            }

        });
    });
</script>